
@{
    ViewData["Title"] = "Index";
}

    <h1>Votre restaurant</h1>

    <div class="uk-child-width-1-4@m uk-padding" uk-grid>
        <img data-src="" width="" height="" alt="" uk-img>



    </div>