@model WEB_APP.Models.Login
@{
    ViewData["Title"] = "Home";
}



<div class="main-background" uk-height-viewport>

    <div class="uk-width-1-1 uk-padding">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h2 class="uk-card-title">Welcome to VSeat</h2>
                        <form asp-action="Login">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input asp-for="Username" class="uk-input uk-form-large" type="text" value="jean.her" placeholder="Mail">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input asp-for="Password" class="uk-input uk-form-large" type="password" value="dfsalkfad3049" placeholder="Password">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <input type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" value="Login" />
                            </div>
                            <div class="uk-text-small uk-text-center">
                                <p class="error-message">@TempData["ErrorLoginMessage"]</p>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
