<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ValaisEAT - @ViewData["Title"]</title>
<link rel="stylesheet" href="~/lib/uikit/css/uikit.css" />
<link rel="stylesheet" href="~/css/site.css" />

<script src="~/lib/uikit/js/uikit.min.js"></script>
<script src="~/lib/uikit/js/uikit-icons.min.js"></script>