<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>VS-Eats - @ViewData["Title"]</title>
<link rel="stylesheet" href="~/lib/uikit/css/uikit.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<script src="~/lib/uikit/js/uikit.min.js"></script>
<script src="~/lib/uikit/js/uikit-icons.min.js"></script>