<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
